body {
	margin: 0;
	line-height: 1.5;
	letter-spacing: 0.025em;
	color-scheme: light dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
	box-sizing: border-box;
	width: 100dvw;
	height: 100dvh;
	font-family: 'Andika', sans-serif;
}
